/* color definitions */
:root {
  --base-font-color: #fff;
  --highlight-color: #16bdca;
  --background-color-html: #1a2436;
  --background-card: #fff;
  --base-font-color-card: #000;
}

/* initial settings */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* base font styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--background-color-html);
  color: var(--base-font-color);
}

/* page content */
.product-pricing {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  height: 100vh;
}

/* header content */
.product-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3rem 2rem;
  text-align: center;
  font-size: 1.3rem;
}

.pricing-title,
.pricing-description {
  font-weight: 600;
}

.pricing-description {
  max-width: 60rem;
}

.pricing-hook {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* section cards */
.pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 1rem;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
  grid-template-rows: 40% 60%;
  background-color: var(--background-card);
  color: var(--base-font-color-card);
  height: 31rem;
  max-width: 28rem;
  min-width: 28rem;
  border-radius: 1rem;
  margin: 1.5rem 0.5rem;
  position: relative;
}

.card-option-one,
.card-option-two {
  left: 0;
  right: 0;
}

.highlighted {
  border: 3px solid #16bdca;
}

.most-popular-option {
  position: absolute;
  top: -1.1rem;
  left: 8rem;
  background-color: var(--highlight-color);
  color: var(--base-font-color);
  border-radius: 2rem;
  padding: 0.7rem 2rem;
}

/* card header section */
.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-shadow: 4px 6px -6px #ccc;
  box-shadow: 4px 6px -6px #ccc;
}

.option {
  margin-top: 2rem;
  margin-bottom: 0;
  font-weight: 600;
}

.option-highlighted {
  font-weight: bolder;
}

.price {
  font-size: 2.7rem;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.usd-symbol {
  font-size: 1.8rem;
  vertical-align: middle;
}

.per-month {
  margin-left: 0.5rem;
  color: #ccc;
  font-size: 1.5rem;
  font-weight: 500;
}

/* card footer section */
.card-footer {
  background-color: #f9fafb;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 1.2rem;
}

.feature {
  list-style: none;
  background-image: url(./check.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 1.5rem;
  margin: 0.5rem 2rem;
  font-weight: 600;
}

.button-start {
  width: 90%;
  height: 4rem;
  margin: 0 3rem;
  padding: 1rem;
  border: 1rem;
  -webkit-box-shadow: 1px 3px 4px #ccc;
  box-shadow: 1px 3px 4px #ccc;
  color: var(--highlight-color);
  font-weight: bold;
  background-color: var(--background-card);
  border-radius: 0.5rem;
  outline: none;
}

.button-highlighted {
  background-color: var(--highlight-color);
  color: var(--base-font-color);
}

.button-start:hover,
.button-start:active {
  cursor: pointer;
}

/************************/
/* Media queries */
/************************/

/* breakpoint: tablet */
@media (min-width: 46.93rem) {
  .pricing-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
  }

  .card {
    min-width: 24rem;
    max-width: 24rem;
    margin-left: 0;
    margin-right: 0;
  }

  .card-option-one,
  .card-option-two {
    min-width: 14rem;
    max-width: 14rem;
  }

  .card-option-one {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-option-two {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .card-two {
    margin-left: 1rem;
  }

  .most-popular-option {
    left: 3.5rem;
  }

  .highlighted {
    height: 35rem;
    max-width: 18rem;
    min-width: 18rem;
    z-index: 10;
  }
}

/* breakpoint: desktop */
@media (min-width: 77rem) {
  .card {
    min-width: 28rem;
    max-width: 28rem;
  }

  .card-option-one,
  .card-option-two {
    min-width: 24rem;
    max-width: 24rem;
  }

  .most-popular-option {
    left: 8.5rem;
  }
}
